
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<body>



    <!-- Page Content -->
    <div align="center">
        <div style="margin-left:15%">

            <div class="w3-container alert-danger">
                <h4>İLETİŞİM</h4>
            </div>



            <div class="w3-container">
                @RenderBody()
            </div>

        </div>
        </div>

</body>
</html>

