@using Tatil_Seyahat_Sitesi.Models.Sınıflar
@model List<blog>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/deneme.cshtml";
}
<div align="center">
    <img src="https://i.hizliresim.com/5b071lc.png" alt="">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>AD_SOYAD</th>
                <th>TELEFON</th>
                <th>MAİL</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>MUSTAFA BALKAYA</td>
                <td>0505 399 7349</td>
                <td>mustafa.balkaya6019@gop.edu.tr<br />balkayamustafa99@gmail.com</td>
            </tr>

        </tbody>
    </table>
    <a href="/Default/Index/" class="w3-bar-item w3-button">Siteye Git</a>
    </div>
