@using Tatil_Seyahat_Sitesi.Models.Sınıflar
@model List<blog>
<div class="box1-left">
    @foreach (var x in Model)
    {
        <div class="bot-img">
            <img src="@x.BlogImage" style="width:120px;height:65px" alt="" />
        </div>
        <div class="bot-desc1">
            <p>@x.aciklama.Substring(0,50) </p>
        </div>
        <div class="clear"></div>
    }
</div>